<p id="notice"><%= notice %></p>

<h1>Shorturls</h1>

<table>
  <thead>
    <tr>
      <th>Long</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shorturls.zip(@shorturls_).each do |shorturl, shorturl_| %>
      <tr>
        <td><%= shorturl.long %></td>
        <td><%= link_to shorturl_, shorturl_ %></td>
        <td><%= link_to 'Show', shorturl %></td>
        <td><%= link_to 'Edit', edit_shorturl_path(shorturl) %></td>
        <td><%= link_to 'Destroy', shorturl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shorturl', new_shorturl_path %>
